

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.main-container {
    width: 100%;
    height: calc(100% - 60px)
}

.text-input {
    width: 100%;
}

webview {
    display: inline-flex;
    width: 100%;
    height: 100%;
}